<% provide :title, 'connect' %>

<h1>Hello, connect page :)</h1>

<ul>
  <%= link_to (image_tag 'github.png'), 'https://github.com/dmichaux', target: '_blank' %>
  <%= link_to (image_tag 'linkedin.png'), 'https://www.linkedin.com/in/davidmichaux/', target: '_blank' %>
  <div>
    <%= image_tag 'gmail.png' %>
    <p class='hidden'>[email address here]</p>
  </div>
</ul>
